In [1]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv("Exp_502_602_combined.csv")
df = df[df["STATUS"].isin(["OK", "Add", "New"])]
df_aibl = pd.read_csv("AIBL_replication_data.csv")

In [39]:
# Table 1. Demographics of ADNI and AIBL datasets

table = pd.DataFrame(index=['ADNI1', 'ADNI2', 'ADNIGO', 'AIBL'],
                    columns=['N', 'Age (years)', 'APOE4 (# alleles)', 'Sex', 'Dx (at baseline)'])

for index, row in table.iterrows():
    if index == 'AIBL':
        df_prot = df_aibl
        table.loc[index]['Sex'] = 'M: {}, F: {}'.format(
            df_prot[df_prot['PTGENDER'] == 1].shape[0],
            df_prot[df_prot['PTGENDER'] == 2].shape[0])
        table.loc[index]['Dx (at baseline)'] = 'CN: {}, MCI: {}'.format(
            df_prot[df_prot['DX_cat'] == 1].shape[0],
            df_prot[df_prot['DX_cat'] == 2].shape[0])
    else:
        df_prot = df[df['ORIGPROT'] == index]
        table.loc[index]['Sex'] = 'M: {}, F: {}'.format(
            df_prot[df_prot['PTGENDER'] == 'Male'].shape[0],
            df_prot[df_prot['PTGENDER'] == 'Female'].shape[0])
        
        if index == 'ADNI1':
            table.loc[index]['Dx (at baseline)'] = 'CN: {}, LMCI: {}, AD: {}'.format(
                df_prot[df_prot['DX_bl'] == 'CN'].shape[0],
                df_prot[df_prot['DX_bl'] == 'LMCI'].shape[0],
                df_prot[df_prot['DX_bl'] == 'AD'].shape[0])
        elif index == 'ADNI2':
            table.loc[index]['Dx (at baseline)'] = 'CN: {}, SMC: {}, EMCI: {}, LMCI: {}, AD: {}'.format(
                df_prot[df_prot['DX_bl'] == 'CN'].shape[0],
                df_prot[df_prot['DX_bl'] == 'SMC'].shape[0],
                df_prot[df_prot['DX_bl'] == 'EMCI'].shape[0],
                df_prot[df_prot['DX_bl'] == 'LMCI'].shape[0],
                df_prot[df_prot['DX_bl'] == 'AD'].shape[0])
        elif index == 'ADNIGO':
            table.loc[index]['Dx (at baseline)'] = 'EMCI: {}'.format(
                df_prot[df_prot['DX_bl'] == 'EMCI'].shape[0])
    
    table.loc[index]['N'] = df_prot.shape[0]
    table.loc[index]['Age (years)'] = np.mean(df_prot['AGE'].values).round(decimals=1)
    table.loc[index]['APOE4 (# alleles)'] = '0: {}, 1: {}, 2: {}'.format(
            df_prot[df_prot['APOE4'] == 0].shape[0],
            df_prot[df_prot['APOE4'] == 1].shape[0],
            df_prot[df_prot['APOE4'] == 2].shape[0])
    
table.to_csv('tables/ADNI_AIBL_demographics.csv')
table.head()

,N,Age (years),APOE4 (# alleles),Sex,Dx (at baseline)
ADNI1,497,75.3,"0: 267, 1: 173, 2: 57","M: 278, F: 219","CN: 171, LMCI: 219, AD: 107"
ADNI2,428,72.1,"0: 237, 1: 150, 2: 41","M: 238, F: 190","CN: 129, SMC: 19, EMCI: 121, LMCI: 109, AD: 50"
ADNIGO,69,70.4,"0: 38, 1: 24, 2: 7","M: 39, F: 30",EMCI: 69
AIBL,113,71.6,"0: 65, 1: 42, 2: 6","M: 59, F: 54","CN: 98, MCI: 15"

In [41]:
# Table 2. Cluster demographics of ADNI based on MMSE

table = pd.DataFrame(index=['T1 (stable)', 'T2 (decline)'],
                    columns=['N', 'Age (years)', 'APOE4 (# alleles)', 'Sex', 'Dx (at baseline)'])

for index, row in table.iterrows():
    if index == 'T1 (stable)':
        df_traj = df[df['MMSE_2c_traj'] == 0]
    elif index == 'T2 (decline)':
        df_traj = df[df['MMSE_2c_traj'] == 1]
        
    table.loc[index]['N'] = df_traj.shape[0]
    table.loc[index]['Age (years)'] = np.mean(df_traj['AGE'].values).round(decimals=1)
    table.loc[index]['APOE4 (# alleles)'] = '0: {}, 1: {}, 2: {}'.format(
            df_traj[df_traj['APOE4'] == 0].shape[0],
            df_traj[df_traj['APOE4'] == 1].shape[0],
            df_traj[df_traj['APOE4'] == 2].shape[0])
    table.loc[index]['Sex'] = 'M: {}, F: {}'.format(
            df_traj[df_traj['PTGENDER'] == 'Male'].shape[0],
            df_traj[df_traj['PTGENDER'] == 'Female'].shape[0])
    table.loc[index]['Dx (at baseline)'] = 'CN: {}, SMC: {}, EMCI: {}, LMCI: {}, AD: {}'.format(
            df_traj[df_traj['DX_bl'] == 'CN'].shape[0],
            df_traj[df_traj['DX_bl'] == 'SMC'].shape[0],
            df_traj[df_traj['DX_bl'] == 'EMCI'].shape[0],
            df_traj[df_traj['DX_bl'] == 'LMCI'].shape[0],
            df_traj[df_traj['DX_bl'] == 'AD'].shape[0])
    
table.to_csv('tables/MMSE_cluster_demographics.csv')
table.head()

,N,Age (years),APOE4 (# alleles),Sex,Dx (at baseline)
T1 (stable),599,72.9,"0: 392, 1: 175, 2: 32","M: 336, F: 263","CN: 293, SMC: 16, EMCI: 157, LMCI: 132, AD: 1"
T2 (decline),395,74.6,"0: 150, 1: 172, 2: 73","M: 219, F: 176","CN: 7, SMC: 3, EMCI: 33, LMCI: 196, AD: 156"

In [43]:
# Table 3. Cluster demographics of ADNI based on ADAS-13

table = pd.DataFrame(index=['T1 (stable)', 'T2 (slow decline)', 'T3 (fast decline)'],
                    columns=['N', 'Age (years)', 'APOE4 (# alleles)', 'Sex', 'Dx (at baseline)'])

for index, row in table.iterrows():
    if index == 'T1 (stable)':
        df_traj = df[df['ADAS_3c_traj'] == 0]
    elif index == 'T2 (slow decline)':
        df_traj = df[df['ADAS_3c_traj'] == 1]
    elif index == 'T3 (fast decline)':
        df_traj = df[df['ADAS_3c_traj'] == 2]
        
    table.loc[index]['N'] = df_traj.shape[0]
    table.loc[index]['Age (years)'] = np.mean(df_traj['AGE'].values).round(decimals=1)
    table.loc[index]['APOE4 (# alleles)'] = '0: {}, 1: {}, 2: {}'.format(
            df_traj[df_traj['APOE4'] == 0].shape[0],
            df_traj[df_traj['APOE4'] == 1].shape[0],
            df_traj[df_traj['APOE4'] == 2].shape[0])
    table.loc[index]['Sex'] = 'M: {}, F: {}'.format(
            df_traj[df_traj['PTGENDER'] == 'Male'].shape[0],
            df_traj[df_traj['PTGENDER'] == 'Female'].shape[0])
    table.loc[index]['Dx (at baseline)'] = 'CN: {}, SMC: {}, EMCI: {}, LMCI: {}, AD: {}'.format(
            df_traj[df_traj['DX_bl'] == 'CN'].shape[0],
            df_traj[df_traj['DX_bl'] == 'SMC'].shape[0],
            df_traj[df_traj['DX_bl'] == 'EMCI'].shape[0],
            df_traj[df_traj['DX_bl'] == 'LMCI'].shape[0],
            df_traj[df_traj['DX_bl'] == 'AD'].shape[0])
    
table.to_csv('tables/ADAS13_cluster_demographics.csv')
table.head()

,N,Age (years),APOE4 (# alleles),Sex,Dx (at baseline)
T1 (stable),520,72.6,"0: 355, 1: 144, 2: 21","M: 276, F: 244","CN: 280, SMC: 18, EMCI: 143, LMCI: 76, AD: 3"
T2 (slow decline),161,74.8,"0: 86, 1: 53, 2: 22","M: 110, F: 51","CN: 19, SMC: 1, EMCI: 38, LMCI: 96, AD: 7"
T3 (fast decline),313,74.6,"0: 101, 1: 150, 2: 62","M: 169, F: 144","CN: 1, SMC: 0, EMCI: 9, LMCI: 156, AD: 147"

In [50]:
# Table 4. Trajectory comparison between MMSE and ADAS-13

table = pd.DataFrame(index=['Stable (MMSE)', 'Decline (MMSE)'],
                    columns=['Stable (ADAS-13)', 'Slow decline (ADAS-13)', 'Fast decline (ADAS-13)'])

for index, row in table.iterrows():
    if index == 'Stable (MMSE)':
        df_traj = df[df['MMSE_2c_traj'] == 0]
    elif index == 'Decline (MMSE)':
        df_traj = df[df['MMSE_2c_traj'] == 1]
    
    table.loc[index]['Stable (ADAS-13)'] = df_traj[df_traj['ADAS_3c_traj'] == 0].shape[0]
    table.loc[index]['Slow decline (ADAS-13)'] = df_traj[df_traj['ADAS_3c_traj'] == 1].shape[0]
    table.loc[index]['Fast decline (ADAS-13)'] = df_traj[df_traj['ADAS_3c_traj'] == 2].shape[0]

table.to_csv('tables/membership_comparison.csv')
table.head()

               Stable (ADAS-13) Slow decline (ADAS-13) Fast decline (ADAS-13)
Stable (MMSE)               496                     95                      8
Decline (MMSE)               24                     66                    305

In [53]:
# Table 5. Trajectory statistics by patient subgroup

table = pd.DataFrame(index=['MMSE', 'ADAS-13'],
                    columns=['cs_low', 'cs_high', 'DeltaScore', 'BE', 'FE', 'CC'])

for index, row in table.iterrows():
    table.loc[index]['cs_low'] = 25
    
    if index == 'MMSE':
        table.loc[index]['cs_high'] = 28
        table.loc[index]['DeltaScore'] = 1
        
        for sg in ['BE', 'FE', 'CC']:
            df_sg = df[df['MMSE_gr'] == sg]
            table.loc[index][sg] = 'T1: {}, T2: {}'.format(
                df_sg[df_sg['MMSE_2c_traj'] == 0].shape[0],
                df_sg[df_sg['MMSE_2c_traj'] == 1].shape[0])
            
    elif index == 'ADAS-13':
        table.loc[index]['cs_high'] = 13
        table.loc[index]['DeltaScore'] = 3
        
        for sg in ['BE', 'FE', 'CC']:
            df_sg = df[df['ADAS13_gr'] == sg]
            table.loc[index][sg] = 'T1: {}, T2: {}, T3: {}'.format(
                df_sg[df_sg['ADAS_3c_traj'] == 0].shape[0],
                df_sg[df_sg['ADAS_3c_traj'] == 1].shape[0],
                df_sg[df_sg['ADAS_3c_traj'] == 2].shape[0])
        
table.to_csv('tables/subgroup_statistics.csv')
table.head()

,cs_low,cs_high,DeltaScore,BE,FE,CC
MMSE,25,28,1,"T1: 408, T2: 173","T1: 99, T2: 115","T1: 92, T2: 107"
ADAS-13,25,13,3,"T1: 388, T2: 20, T3: 156","T1: 73, T2: 48, T3: 98","T1: 59, T2: 93, T3: 59"